<header class="bg-primary">
  <br>
    <legend class="text-center display-3 text-white">{{pageName}}</legend>
    <div class="container">
      <div class="row">
        <div class="col-md-3 my-2">
          <a class="btn btn-light btn-block text-primary" href="/">
            <strong>Home</strong>
          </a>
        </div>
        <div class="col-md-3 my-2">
          <a class="btn btn-light btn-block text-primary" href="/allSchedules">
              <strong>Agendamentos</strong>
          </a>
        </div>
        <div class="col-md-3 my-2">
          <a class="btn btn-light btn-block text-primary" href="/allUsers">
              <strong>Usuários</strong>
          </a>
        </div>
        <div class="col-md-3 my-2">
          <a class="btn btn-light btn-block text-primary" href="/allDevices">
            <strong>Dispositivos</strong>
          </a>
        </div>
      </div>
    </div>
    <hr>
  </header>
