<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Device Registered!</title>
</head>
<body>
  <H2>Smart Systems Update</H2>
  <p>Hello dear user,</p>
  <p>This notification is to inform you that a new device has been registered in your home security network. You can find its information bellow.</p>
  <ul>
    <li>Name: {{name}}</li>
    <li>Behavior: {{behavior}}</li>
    <li>IP address: {{ip}}</li>
    <li>MAC address: {{mac}}</li>
  </ul>
  <p>Thank you!</p>
  <img src="cid:unique@nodemailer.com"/>
</body>
</html>
